.Header-text {
  color: #c0a262 !important;
}

.simple-text {
  color: white !important;
}
.simple-card-color {
  color: #f7f7f7 !important;
}

.simple-text-frot {
  font-size: 12 !important;
}

.main-color {
  background-color: #18273e !important;
}
