.datatextcolor {
  color: white;
}

.View-button {
  background-color: #16213e;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
  /* Smooth transition for the width change */
  width: 150px;
  /* Set an initial width */
  text-align: center;
  /* Center text */
}

.View-furtherdetailsbutton {
  background-color: #16213e;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
  /* Smooth transition for the width change */
  width: 150px;
  /* Set an initial width */
  text-align: center;
  /* Center text */
}

.View-button:hover {
  background-color: #d2a85a;
  /* Increase the width on hover */
  transition: width 0.3s ease;
}

.subject-line {
  grid-area: subject-line;
  background-color: #18273e;
  border-radius: 8px;
  padding: 16px;
  /* text-overflow: ellipsis;  */
  overflow: hidden;
  /*overflow-y: auto;
  overflow-x: hidden; */
  color: white;
}
#main {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* width:fit-content; */
}

.important-points {
  /* grid-area: important-points; */
  background-color: #18273e;
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;

  /* overflow-y: auto;
  overflow-x: hidden; */
}

/* .grid {
  grid-area: grid-item;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

} */
.textpositions {
  /* margin-left: 20px; */
}

.grid-item {
  background-color: #18273e;
  border-radius: 8px;
  padding: 16px;
  text-overflow: ellipsis;
  /* Handle long text */
  overflow: hidden;
  /* Hide overflow content */
  /* text-align: center; */
  overflow: hidden;
  /*overflow-y: auto;
  overflow-x: hidden; */
}
.fixed-button {
  width: 250px !important;
  min-width: 200px !important;
  max-width: 300px !important;
  box-shadow: 5px 5px 5px gray !important;
  border: 2px solid #d4af37 !important;
  border-radius: 10px !important;
}
.subject-box {
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #16213e;
  padding: 1rem;
  min-height: 100%;
}

@media (min-width: 768px) {
  .fixed-button {
    width: 260px !important;
  }
}
