.btn1 {
  background-color: #c0a262;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
}

.custom-dropdown-toggle {
  background-color: #d4af37 !important; /* Custom Gold Color */
  border: none !important;
  color: white !important;
  width: 40px;
  padding: 4px 8px;
  min-height: 32px;
  height: 32px;
  text-align: center;
}
.custom-dropdown-toggle:hover {
  background-color: #b8952d !important;
}
